# Hypothesis Testing

# Assignment 3, Question no.3

Assume Null Hypothesis as Ho: Independence of categorical variables (customer order forms defective % does not varies by centre) Thus, Alternative hypothesis as Ha Dependence of categorical variables (customer order forms defective % varies by centre)

Inference: As (p_value = 0.2771) > (α = 0.05); Accept Null Hypthesis i.e. Independence of categorical variables Thus, customer order forms defective % does not varies by centre.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
#Load the Dataset
df = pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [4]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [5]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [6]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

Make a Contingency table

In [8]:
Table = np.array([[271,267,269,280],[29,33,31,20]])
Table

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

Chi2 Contingency independence test

In [11]:
p_value = stats.chi2_contingency(Table)
p_value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [13]:
p_value[1]

0.2771020991233135

Compare p_value with α = 0.05
p-value (0.2771)> α (0.05), hence we can't reject the null hypothesis.